{% ckan_extends %}

{%- block page -%}

  {% block skip %}
    {{ super() }}
  {% endblock %}

  {%- block header %}
    {{ super() }}
  {% endblock -%}

  {%- block content %}
    {% block maintag %}{{ super() }}{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            {{ super() }}
          {% endblock %}

          {% block toolbar %}
            {{ super() }}
          {% endblock %}
          
          <div class="page-banner">
              {% block banner %}
              {% endblock %}
          </div>

          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %}">

            {% block pre_primary %}
            {% endblock %}

            {% block primary %}
              {{ super() }}
            {% endblock %}

            {% block secondary %}
              {{ super() }}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
  {% endblock -%}

  {%- block footer %}
    {{ super() }}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {{ super() }}
{% endblock -%}
