{% ckan_extends %}

{%- block page -%}

  {% block skip %}
    {{ super() }}
  {% endblock %}

  {%- block header %}
    {{ super() }}
  {% endblock -%}

  {%- block content %}
    {% block maintag %}{{ super() }}{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            {{ super() }}
          {% endblock %}

          {% block toolbar %}
            {{ super() }}
          {% endblock %}
          
          <div class="page-banner">{% block banner %}{% if subtitle|trim == '' %}<h1>{%- block subtitle %}{% endblock -%}</h1>{% endif %}{% endblock %}</div>

          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary_content()|trim == '' %} no-nav{% endif %}">

            {% block pre_primary %}
            {% endblock %}

            {% block primary %}
              {% if self.secondary_content()|trim != '' %}
              <div class="primary span9">
              {% else %}
              <div class="primary span12">
              {% endif %}
              {% block primary_content %}
                {{ super() }}
              {% endblock %}
              </div>
            {% endblock %}

            {% block secondary %}
              {% if self.secondary_content()|trim != '' %}
              <aside class="secondary span3">
                {% block secondary_content %}{% endblock %}
              </aside>
              {% endif %}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
  {% endblock -%}

  {%- block footer %}
    {{ super() }}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {{ super() }}
{% endblock -%}
